*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 710px 403px;
  justify-content: space-between;
  align-items: end;
  width: 1140px;
  min-height: 530px;
  max-height: fit-content;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Общие стили для кнопок */

.button {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1PX;
}

/* ЗАДАЕМ СТИЛИ ДЛЯ БЛОКА result */

.result {
  grid-column: 1;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;

}

.result__video {
  width: inherit;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

/* ЗАДАЕМ СТИЛИ ДЛЯ ФОРМЫ ВВОДА ДАННЫХ */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 16px;
  width: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
}

/* Стилизуем label */

.search-form__label {
  display: flex;
  align-items: center;
  padding: 1px;
  border: none;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
} 

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Стилизуем текстовое поле */

.search-form__textfield {
  appearance: none;
  width: 221px;
  height: 26px;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: transparent;
}

.search-form__textfield:active {
  outline: 1px solid white;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

/* Стилизуем чекбоксы */

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background: transparent;
  vertical-align: bottom;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  background-color: white;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  display: inline-block;
}

.search-form__label-text {
  line-height: 100%;
  vertical-align: bottom;
  padding-left: 3px;
}

/* Стилизуем кнопку внутри формы */

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

/* ЗАДАЕМ СТИЛИ ДЛЯ ОБЛАСТИ content__details*/

.content__details {
  grid-column: 2;
  align-self: start;
  width: 100%;
}

/* Стилизуем заголовок */

.title {
  margin-bottom: 22px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 93%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* Стилизуем контейнер с карточками */

.content__list-container {
  position: relative;
  width: 100%;
  max-height: 298px;
  padding: 3px;
  overflow: hidden scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: centre;
  gap: 30px;
  width: 100%;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

/* Задаем стили для отдельных карточек и ех состояний */

.content__video-card {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-shrink: 0;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus-visible {
  outline: 1px solid #FFFFFF;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.content__card-link_current .content__video-card-description-container {
  background-color: #545050;
}

/* Стилизуем содержимое карточек */

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 195px;
  max-height: 103px;
  object-fit: cover;
  object-position: right;
}

/* Стилизуем кнопку */

.more-button {
  margin-top: 30px;
  width: 100%;
  height: 34px;
}

/* СВОЙСТВА ПРЕЛОАДЕРОВ */

.result__video-container .preloader,
.content__list-container .preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}